.text-center
	text-align center
the-footer
	background rgb(33, 33, 33)
	color white 
	display block
	margin-top 1em
	padding 1em
	text-align center
.background
	background #E2E2E2
	
.relative
	position relative
.sideleft
	&__logo
		background black url(../images/icon.png) no-repeat
		background-position center center
		height 240px
	&__user
		color white
		display block
		margin-top -2em
		text-align center
	&__menu
		margin-top 2em
		button
			text-align left
.principal-container
	min-height 100vh
.color-white
	color white !important
.login
	background url(../images/desk.jpg) no-repeat
	&__container
		&__header
			background black url(../images/icon.png) no-repeat
			background-position center center
			height 160px
		&__form
			padding 1em
			&__button
				background black !important
				color white !important