@import '../variables'

.home
	// background primary-color
	&__imagebutton
		cursor pointer
		margin-top -2%
		width 100%
		// &:first-child
		// 	margin-top 0
		// 	margin-bottom -4.1px
	&__noticias-container
		&__publicidad-box
			background #353132
			color white
			font-size 2em
			height 65px
			line-height 65px
			margin 0 auto
			text-align center
			width 95%
		&__iframe
			height 85vh
			display block
			margin 0 auto
			margin-top 8vh
			width 95%
	.firstelement_home_images
		padding-top 11%