
.emisora
	background url(../../images/fondo-emisora_.png) no-repeat
	background-size 101%
	background-position -2px 0
	height 100vh
	&__logo
		display block
		margin 0 auto
		margin-top 40%
	&__button
		background lightgray
		display block
		margin 5% auto
		border none
		font-size 1.5em
		padding .2em 2em
	&__audio
		display block
		margin 3% auto